In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [2]:
path='./data/'
store='./data/leaf_level/group/'

In [3]:
supp_prices_power = pd.read_csv(path+'master_competitor_market_prices_power.csv', parse_dates=["date_valid_from", "date_valid_to"])

In [4]:
supp_prices_power['price_per_kwh'] = supp_prices_power['price_year_eur']/supp_prices_power['consumption_range_kwh']

In [5]:
supp_prices_power.head()

,Unnamed: 0,date_valid_to,date_valid_from,post_code,city,energy,consumption_range_kwh,supplier,tariff,rank,...,2y_ahead_peak,3y_ahead_peak,y_ahead_base,2y_ahead_base,3y_ahead_base,d_ahead_peak,d_ahead_base,strat_index,validity_period,price_per_kwh
0,0,2021-09-21,2021-05-25,51103,Köln,power,500,Criador,Meltan,3.0,...,72.05,70.45,64.2,61.08,59.28,26.46,31.65,2,119 days,0.52050
1,1,2021-09-21,2021-05-25,51381,Leverkusen,power,500,Criador,Meltan,3.0,...,72.05,70.45,64.2,61.08,59.28,26.46,31.65,2,119 days,0.51570
2,2,2021-09-21,2021-05-25,51469,Bergisch Gladbach,power,500,Criador,Meltan,3.0,...,72.05,70.45,64.2,61.08,59.28,26.46,31.65,2,119 days,0.51570
3,3,2021-09-22,2021-05-25,51103,Köln,power,250,Criador,Meltan,3.0,...,72.05,70.45,64.2,61.08,59.28,26.46,31.65,2,120 days,0.75048
4,4,2021-09-22,2021-05-25,51381,Leverkusen,power,250,Criador,Meltan,2.5,...,72.05,70.45,64.2,61.08,59.28,26.46,31.65,2,120 days,0.74568

In [6]:
supp_prices_power['supplier'].isna().sum()

0

In [7]:
supp_prices_power['supplier'].nunique()

140

In [8]:
filename = []

In [9]:
count=1
for supplier in supp_prices_power['supplier'].unique():
    df=supp_prices_power.loc[supp_prices_power['supplier']==supplier].copy()
    if df.shape[0]>0:
        df["date"]=df.apply(lambda x: pd.date_range(x["date_valid_from"], x["date_valid_to"]), axis=1)
        df=df.explode("date").copy()
        df=df.groupby(['date']).agg({'price_per_kwh':'mean', 'strat_index':'mean'})
        df['Supplier_name'] = str(supplier)
        df.reset_index(inplace=True)
        print("Supplier no. ", count)
        count +=1
        df.to_csv(store+str(supplier)+".csv")
        new_file = str(str(supplier)+".csv")
        filename.append(new_file)

Supplier no.  1
Supplier no.  2
Supplier no.  3
Supplier no.  4
Supplier no.  5
Supplier no.  6
Supplier no.  7
Supplier no.  8
Supplier no.  9
Supplier no.  10
Supplier no.  11
Supplier no.  12
Supplier no.  13
Supplier no.  14
Supplier no.  15
Supplier no.  16
Supplier no.  17
Supplier no.  18
Supplier no.  19
Supplier no.  20
Supplier no.  21
Supplier no.  22
Supplier no.  23
Supplier no.  24
Supplier no.  25
Supplier no.  26
Supplier no.  27
Supplier no.  28
Supplier no.  29
Supplier no.  30
Supplier no.  31
Supplier no.  32
Supplier no.  33
Supplier no.  34
Supplier no.  35
Supplier no.  36
Supplier no.  37
Supplier no.  38
Supplier no.  39
Supplier no.  40
Supplier no.  41
Supplier no.  42
Supplier no.  43
Supplier no.  44
Supplier no.  45
Supplier no.  46
Supplier no.  47
Supplier no.  48
Supplier no.  49
Supplier no.  50
Supplier no.  51
Supplier no.  52
Supplier no.  53
Supplier no.  54
Supplier no.  55
Supplier no.  56
Supplier no.  57
Supplier no.  58
Supplier no.  59
Supplier no.  60
Supplier no.  61
Supplier no.  62
Supplier no.  63
Supplier no.  64
Supplier no.  65
Supplier no.  66
Supplier no.  67
Supplier no.  68
Supplier no.  69
Supplier no.  70
Supplier no.  71
Supplier no.  72
Supplier no.  73
Supplier no.  74
Supplier no.  75
Supplier no.  76
Supplier no.  77
Supplier no.  78
Supplier no.  79
Supplier no.  80
Supplier no.  81
Supplier no.  82
Supplier no.  83
Supplier no.  84
Supplier no.  85
Supplier no.  86
Supplier no.  87
Supplier no.  88
Supplier no.  89
Supplier no.  90
Supplier no.  91
Supplier no.  92
Supplier no.  93
Supplier no.  94
Supplier no.  95
Supplier no.  96
Supplier no.  97
Supplier no.  98
Supplier no.  99
Supplier no.  100
Supplier no.  101
Supplier no.  102
Supplier no.  103
Supplier no.  104
Supplier no.  105
Supplier no.  106
Supplier no.  107
Supplier no.  108
Supplier no.  109
Supplier no.  110
Supplier no.  111
Supplier no.  112
Supplier no.  113
Supplier no.  114
Supplier no.  115
Supplier no.  116
Supplier no.  117
Supplier no.  118
Supplier no.  119
Supplier no.  120
Supplier no.  121
Supplier no.  122
Supplier no.  123
Supplier no.  124
Supplier no.  125
Supplier no.  126
Supplier no.  127
Supplier no.  128
Supplier no.  129
Supplier no.  130
Supplier no.  131
Supplier no.  132
Supplier no.  133
Supplier no.  134
Supplier no.  135
Supplier no.  136
Supplier no.  137
Supplier no.  138
Supplier no.  139
Supplier no.  140

In [10]:

#supp_prices_power.groupby(['supplier']).apply(write_to_csv)

In [11]:
filename

['Criador.csv',
 'Knik.csv',
 'Galerne.csv',
 'Gregale.csv',
 'Ko.csv',
 'Bayamo.csv',
 'Pulenat.csv',
 'Auster.csv',
 'Chamsin.csv',
 'Karajol.csv',
 'Belat.csv',
 'Hurrikan.csv',
 'Sarma.csv',
 'Downburst.csv',
 'Torne älv.csv',
 'Kusi.csv',
 'Canterbury.csv',
 'Aller.csv',
 'Aquilo.csv',
 'Elvegust.csv',
 'Williwaw.csv',
 'Caurus.csv',
 'Passat.csv',
 'Isar.csv',
 'Werra.csv',
 'Fulda.csv',
 'Drau.csv',
 'Papagayos.csv',
 'Gibli.csv',
 'Ruhr.csv',
 'Chili.csv',
 'Jugo.csv',
 'Elephanta.csv',
 'Tornado.csv',
 'Oder.csv',
 'Bergwind.csv',
 'Favonius.csv',
 'Sirkos.csv',
 'Collada.csv',
 'Bhoot.csv',
 'Bohorok.csv',
 'Norte.csv',
 'Wambra.csv',
 'Sureot.csv',
 'Main.csv',
 'Septentrio.csv',
 'Garbas.csv',
 'Minuano.csv',
 'Austru.csv',
 'Rossbreiten.csv',
 'Lule älv.csv',
 'Barat.csv',
 'Reshabar.csv',
 'Solanus.csv',
 'Tehuantepecers.csv',
 'Kachchan.csv',
 'Purga.csv',
 'Seine.csv',
 'Leste.csv',
 'Yalca.csv',
 'Challiho.csv',
 'Boreas.csv',
 'Chinook.csv',
 'Enns.csv',
 'Oroshi.csv',
 'Ora.csv',
 'Zyklon.csv',
 'Karif.csv',
 'Ångermanälven.csv',
 'Ebe.csv',
 'Hangwind.csv',
 'Rhone.csv',
 'Wischera.csv',
 'Shannon.csv',
 'Supernas.csv',
 'Monsunwind.csv',
 'Meltemi.csv',
 'Notos.csv',
 'Puelche.csv',
 'Bise.csv',
 'Severn.csv',
 'Kama.csv',
 'Marin.csv',
 'Piteraq.csv',
 'Seewind.csv',
 'Suracon.csv',
 'Belaja.csv',
 'Kapdoktor.csv',
 'Kaskasi.csv',
 'Antipassat.csv',
 'Blizzard.csv',
 'Jauk.csv',
 'Samum.csv',
 'Barber.csv',
 'Colla.csv',
 'Jetstream.csv',
 'Paramitos.csv',
 'Afghanetz.csv',
 'Boorga.csv',
 'Taifun.csv',
 'Suchowej.csv',
 'Gharra.csv',
 'Willy.csv',
 'Aspr.csv',
 'Helm.csv',
 'Habub.csv',
 'Kalmen.csv',
 'Schamal.csv',
 'Ribut.csv',
 'Brickfielder.csv',
 'Nördliche Dwina.csv',
 'Sharki.csv',
 'Maloja.csv',
 'Orkan.csv',
 'Pineapple.csv',
 'Brubu.csv',
 'Harmattan.csv',
 'Libeccio.csv',
 'Poniente.csv',
 'Zonda.csv',
 'Br.csv',
 'Santa.csv',
 'Vento.csv',
 'Himmelsbesen.csv',
 'Coromell.csv',
 'Kata.csv',
 'Crivet.csv',
 'Pampero.csv',
 'Joran.csv',
 'Dordogne.csv',
 'Calima.csv',
 'Mureș.csv',
 'Baguio.csv',
 'Euros.csv',
 'Talwind.csv',
 'Autan.csv',
 'Halny.csv',
 'Anemoi.csv',
 'Chanduy.csv',
 'Elbe.csv']

In [12]:
supplier_list = pd.DataFrame(filename)

In [13]:
supplier_list.rename(columns = {"0":"Supplier"})

               0
0    Criador.csv
1       Knik.csv
2    Galerne.csv
3    Gregale.csv
4         Ko.csv
..           ...
135    Autan.csv
136    Halny.csv
137   Anemoi.csv
138  Chanduy.csv
139     Elbe.csv

[140 rows x 1 columns]

In [14]:
supplier_list.to_csv(path+'supplier_list.csv')